.About {
    overflow-x: hidden;
    overflow-y: hidden;
    background: #FBFBFB;
}

.mission-section {
    width: 100vw;
    height: 65vh;
    background-image: url("/Users/jiaju/Desktop/diaita/diaita-website/src/assets/green-background-2.png");
    background-repeat: no-repeat;
    background-size: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mission-header {
    color: #102F27;
    font-family: OpenSans;
    font-size: 1.7em;
    font-weight: 700;

    padding-top: 6%;
}

.mission-subheader {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.2em;
    font-weight: 700;
}

.mission-text {
    width: 40%;

    color: #226252;
    font-family: OpenSans;
    font-size: 1.2em;
    font-weight: 400;
}

.why-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-text {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.05em;
    font-weight: 400;
}

.why-link {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.05em;
    font-weight: 400;
}

.top-why {
    width: 80%;

    display: flex;
    justify-content: center;
}

.left-why {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-right: 10%;
}

.right-why {
    width: 27%;

    padding-left: 2%;
}

.why-header {
    color: #102F27;
    font-family: OpenSans;
    font-size: 1.4em;
    font-weight: 700;
}

.bottom-why {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 8%;
    padding-bottom: 10%;

    background-image: url("/Users/jiaju/Desktop/diaita/diaita-website/src/assets/green-background.png");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.why-reasons {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.why-reason {
    width: 30%;
    padding: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.why-image {
    width: 17%;
}

.why-reason-header {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.25em;
    font-weight: 700;

    text-align: center;
    padding-top: 5%;
}

.why-text-2 {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.05em;
    font-weight: 400;

    text-align: center;
}

.history {
    width: 85%;

    display: flex;
    flex-direction: column;

    padding-top: 3%;
    padding-bottom: 5%;
}

.history-pics {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.history-header {
    color: #102F27;
    font-family: OpenSans;
    font-size: 1.4em;
    font-weight: 700;

    padding-bottom: 3%;
}

.skydeck-image {
    width: 100%;
    height: auto;
}

.nsf-image {
    width: 100%;
    height: auto;
}

.health-image {
    width: 100%;
    height: auto;

}

.image-link {
    width: 30vw;
    height: auto;

    padding-left: 1%;
    padding-right: 1%;
}
