/* * {
    background-color: #FBFBFB;
} */

.Home {
    overflow-x: hidden;
    overflow-y: hidden;
    background: #FBFBFB;
}

.page-1 {
    width: 100vw;
    height: 120vh;

    /* background-image: url("/Users/jiaju/Desktop/diaita/diaita-website/src/assets/sample-photo-2.jpeg"); */
    background-image: url("/Users/jiaju/Desktop/diaita/diaita-website/src/assets/teamwork.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;

    display: flex;
    justify-content: center;
}

.main-page {
    width: 60%;
    height: 30%;

    text-align: left;
    color: #102F27;
    font-family: OpenSans;
    font-size: 1.2em;

    /* padding: 3%;
    margin-top: 12%;
    margin-left: 4%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding-top: 2%;

    /* backdrop-filter: blur(15px); */
}

.download-btn {
    background: #226252;
    color: #FFFFFF; 

    text-decoration: none;

    font-family: OpenSans;
    font-size: 0.8em;
    font-weight: 700;
    padding: 12px;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 2%;
    border-radius: 20px;
}

.download-btn:hover {
    background: #1d5346;
}

.page-2 {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: radial-gradient(rgb(226, 239, 222) 25%, #FBFBFB 75%);

    padding-top: 10%;
    padding-bottom: 5%;
}

.stat-header {
    color: #102F27;
    font-family: OpenSans;
    font-size: 1.7em;
    font-weight: 700;

    padding-bottom: 2%;
}

.stat-block {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5%;
}

.stat-numbers {
    color: #226252;
    font-family: OpenSans;
    font-size: 5em;
    font-weight: 700;

    padding-bottom: 25px;
}

.stat-description {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.2em;
    font-weight: 400;
}

.page-3 {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #FBFBFB;

    padding-top: 5%;
}

.demo-text-block {
    width: 23%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10%;
}

.demo-header {
    color: #102F27;
    font-family: OpenSans;
    font-size: 1.7em;
    font-weight: 700;
}

.demo-text {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.2em;
    font-weight: 400;

    padding-bottom: 3%;
}

.learn-more-btn {
    background: #226252;
    color: #FFFFFF; 

    text-decoration: none;

    font-family: OpenSans;
    font-size: 0.8em;
    font-weight: 700;
    padding: 8px;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 1%;
    border-radius: 20px;

    width: 25%;
}

.learn-more-btn:hover {
    background: #1d5346;
}

.phone-icon {
    width: 15%;
    height: 80%;

    padding: 10%;

    /* filter: drop-shadow(3px 3px 7px rgb(166, 164, 164)); */
}

.page-4 {
    width: 100vw;
    height: 80vh;

    background-image: url("/Users/jiaju/Desktop/diaita/diaita-website/src/assets/green-background.png");
    background-repeat: no-repeat;
    background-size: 100vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 40%;

    padding-bottom: 4%;
}

.quote-section {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;

    width: 50%;

    display: flex;
    text-align: center;
}

.quote-div-start {
    width: 100%;

    display: flex;
    align-items: flex-end;

    padding-left: 15%;
}

.quote-div-end {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    padding-right: 15%;
}

.quote-start {
    width: 15%;
}

.quote-end {
    width: 15%;
    transform: rotate(180deg);
}

.speaker {
    color: #102F27;
    font-family: OpenSans;
    font-size: 1.2em;
    font-weight: 700;
}

.page-5 {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.why-headline {
    color: #102F27;
    font-family: OpenSans;
    font-size: 1.8em;
    font-weight: 700;

    text-align: center;

    padding-bottom: 3%;
}

.reason-box {
    display: flex;
    justify-content: space-evenly;
}

.reason {
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason-header {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.25em;
    font-weight: 700;

    padding-top: 5%;
}

.reason-description {
    color: #226252;
    font-family: OpenSans;
    font-size: 1.05em;
    font-weight: 400;

    width: 90%;
    text-align: center;
}

.sample-pic {
    width: 50%;
}

.page-6 {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5%;
    padding-bottom: 2%;
}

.get-started-text {
    color: #102F27;
    font-family: OpenSans;
    font-size: 1.5em;
    font-weight: 700;

    padding-right: 6%;
}

.download-btn-bottom {
    background: #226252;
    color: #FFFFFF; 

    text-decoration: none;

    font-family: OpenSans;
    font-size: 0.8em;
    font-weight: 700;
    padding: 12px;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 2%;
    border-radius: 20px;

    margin-bottom: 2%;
}

.download-btn-bottom:hover {
    background: #1d5346;
}

.contact-link {
    color: #308771;
    font-family: OpenSans;
    font-size: 1.1em;
    font-weight: 700;

    padding-left: 3%;
}