.NavBar {
    width: 100%;

    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #FBFBFB;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

ul {
    width: 100%;

    display: flex;
    justify-content: flex-end;

    list-style-type: none;

    margin: 0;
    padding-right: 5%;
}

li a {
    display: block;
    text-align: right;

    color: #1D2247;
    text-decoration: none;
    font-family: "MuseoModerno";
    font-size: 1.2em;

    backdrop-filter: blur(5px);
    border-radius: 50px;
    border: solid;
    border-color: transparent;

    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

ul li a:hover {
    color: #226252;
}

.active {
    text-underline-offset: blue;
}

.logo {
    width: 24%;
    padding: 2%;
    padding-left: 24%;
}